*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --containerWidth: 90%;
  --html: #f16529;
  --css: #2862e9;
  --js: #f7df1e;
  --php: #7377ad;
  --node: #73ab60;
  --sass: #f783ac;
  --sql: #f783ac;
  --mongo: #00684a;
  --node: #3eb112;
  --git: #e94e31;
  --swift: #f4993a;
  --discord: #7289DA;
  --skeleton: #4c4c4c;
  --bg: #1f1f1f;
  --posterH: 250px;
  --posterW: 165px;
  --steel: #7a7a7a;
  --react: #0fccce;
  --silver: #f2f2f2;
  --softBlack: #1a1a1a;
  --secondary: #3c3c3c;
  --piratechs: #2b4261;
  --softBlack2: #636363;
  --piratechsDark: #10141d;
  --main: rgb(0, 216, 255);
  --authGlass: rgba(0, 0, 0, 0.05);
  --mainTeal: rgba(32, 143, 163, 1);
  --blackGlass: rgba(0, 0, 0, 0.75);
  --silverGlass: rgba(0, 0, 0, 0.35);
  --mainGlass: rgba(255, 28, 11, 0.75);
  --softWhite: rgba(255, 255, 255, 0.87);
  --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
  overflow-x: hidden;
  background: var(--mainTeal);
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  letter-spacing: .5px;
}

header {
  top: 0;
  width: 100%;
  height: 100px;
  grid-gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.2em;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: var(--blackGlass);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  font-weight: 700;
  font-size: 1.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo.reactLogo {
  -webkit-animation: logo-spin infinite 20s linear;
          animation: logo-spin infinite 20s linear;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2em;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: fadeIn var(--transition);
          animation: fadeIn var(--transition);
}

header .menu.hide {
  display: none;
}

header .menu.mobileNav {
  left: 0;
  top: 100px;
  width: 100%;
  grid-gap: 0;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--blackGlass);
  border-top: 1px solid white;
  -webkit-animation: fadeIn var(--transition);
          animation: fadeIn var(--transition);
}

header .menu.mobileNav li {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid white;
}

header .menu.mobileNav li a {
  margin: 0 auto;
  max-width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menuToggle {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: .3em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menuToggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#menuToggle span:first-child:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2):nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle span:last-child {
  margin-bottom: 0px;
}

#menuToggle:hover span {
  background: var(--main);
}

#openMenuToggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#openMenuToggler span {
  top: .08em;
  width: 20px;
  height: 3px;
  display: block;
  border-radius: 0px;
  margin-bottom: 4px;
  position: relative;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

#openMenuToggler.clicked {
  top: 3px;
  position: relative;
}

#openMenuToggler.clicked span {
  top: -3px;
  opacity: 1;
  margin-bottom: 5px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

#openMenuToggler.clicked span:nth-last-child(2) {
  -webkit-transform: rotate(45deg) translate(-2px, -4px);
          transform: rotate(45deg) translate(-2px, -4px);
}

#openMenuToggler.clicked span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.subBanner *:nth-child(2) {
  font-weight: 400;
  text-align: right;
}

.skeleton {
  width: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.skeleton .skeletonItem {
  position: relative;
  -webkit-filter: blur(1px) brightness(1.35);
          filter: blur(1px) brightness(1.35);
  -webkit-animation: skeleton 1.5s var(--transition) infinite alternate;
          animation: skeleton 1.5s var(--transition) infinite alternate;
}

.skeleton .skeletonItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skeleton * {
  width: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.skeleton * * {
  position: relative;
  -webkit-filter: blur(1px) brightness(1.35);
          filter: blur(1px) brightness(1.35);
  background: var(--skeleton) !important;
  -webkit-animation: skeleton 1.5s var(--transition) infinite alternate;
          animation: skeleton 1.5s var(--transition) infinite alternate;
}

.skeleton * *::before {
  content: 'Loading...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--skeleton) !important;
}

@-webkit-keyframes skeleton {
  0% {
    -webkit-filter: blur(1px) brightness(1.35);
            filter: blur(1px) brightness(1.35);
  }
  100% {
    -webkit-filter: blur(0px) brightness(1);
            filter: blur(0px) brightness(1);
  }
}

@keyframes skeleton {
  0% {
    -webkit-filter: blur(1px) brightness(1.35);
            filter: blur(1px) brightness(1.35);
  }
  100% {
    -webkit-filter: blur(0px) brightness(1);
            filter: blur(0px) brightness(1);
  }
}

section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  padding: 1em 0;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section article {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--containerWidth);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner.pageInner {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column.rightColumn {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  width: 100%;
  height: auto;
  padding: 3em 0;
  margin: 0 auto;
}

h1 {
  font-size: 3.5em;
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex:not(.start) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.stretch {
  width: 100%;
}

.flex:not(.row) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex *:not(.contain) {
  width: 100%;
}

.grid {
  gap: 1%;
  padding: 0;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[3];
      grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.grid div {
  margin: 0px;
  height: 100%;
}

form {
  height: 100% !important;
}

input {
  border: 0;
  padding: 10px;
  outline: none;
  border-radius: 4px;
  font-family: 'Montserrat';
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

input::-webkit-input-placeholder {
  color: var(--softWhite);
}

input:-ms-input-placeholder {
  color: var(--softWhite);
}

input::-ms-input-placeholder {
  color: var(--softWhite);
}

input::placeholder {
  color: var(--softWhite);
}

button, input[type="submit"] {
  border: 0;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Montserrat';
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

button.rowButton, input[type="submit"].rowButton {
  margin-top: -17px;
}

button:hover, input[type="submit"]:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-box-shadow: 0 0 8px 0px black;
          box-shadow: 0 0 8px 0px black;
}

button:focus, input[type="submit"]:focus {
  -webkit-filter: invert(1) brightness(1.5);
          filter: invert(1) brightness(1.5);
}

button:active, input[type="submit"]:active {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: inset 0 0 8px 0px black;
          box-shadow: inset 0 0 8px 0px black;
}

[type="submit"][name="authFormBack"] {
  width: 49% !important;
  margin-left: auto;
  margin-top: -26px;
}

[type="submit"][name="authFormSubmit"].half {
  width: 49% !important;
  margin-right: auto;
  margin-bottom: -26px;
}

[type="submit"][name="authFormSave"] {
  width: 49% !important;
  margin-left: auto;
  margin-top: -26px;
}

.alert {
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  position: fixed;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0 0 8px 0px black;
          box-shadow: 0 0 8px 0px black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.alert.slim {
  height: 120px;
}

.alert button {
  position: absolute;
  -webkit-filter: invert(1);
          filter: invert(1);
  right: 15px;
  top: 15px;
}

.alert h3, .alert p {
  padding: 5px 0;
  text-align: center;
}

footer {
  left: 50%;
  bottom: 0;
  z-index: 1;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  width: 100vw;
  font-size: 13px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 300 !important;
  background: var(--blackGlass);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .hoverLink::before {
  bottom: -5px;
  height: 1px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .vertical-sep, footer i {
  color: var(--main);
}

footer .vertical-sep.fas.fa-undo, footer i.fas.fa-undo {
  font-size: 0.8em;
  margin-bottom: 0em;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@-webkit-keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hoverLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink::before {
  content: "" !important;
  background: var(--main);
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  bottom: -10px;
  right: 0;
  z-index: 0;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#scroll-text {
  width: 200%;
  text-overflow: clip;
  white-space: nowrap;
  /* animation properties */
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: my-animation 10s linear infinite;
  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  /* for Firefox */
  /* for Chrome */
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media (max-width: 697px) {
  header {
    height: 150px;
  }
  body {
    font-size: 28px;
  }
  main {
    padding: 1em 0;
  }
  #openMenuToggler span {
    height: 5px;
  }
  button, input[type="submit"] {
    font-size: 0.85em;
  }
}
/*# sourceMappingURL=global.css.map */