*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: white;
  background: var(--mainTeal);
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --containerWidth: 90%;
  --html: #f16529;
  --css: #2862e9;
  --js: #f7df1e;
  --php: #7377ad;
  --node: #73ab60;
  --sass: #f783ac;
  --sql: #f783ac;
  --mongo: #00684a;
  --node: #3eb112;
  --git: #e94e31;
  --swift: #f4993a;
  --discord: #7289DA;
  --bg: #1f1f1f;
  --posterH: 250px;
  --posterW: 165px;
  --steel: #7a7a7a;
  --react: #0fccce;
  --silver: #f2f2f2;
  --softBlack: #1a1a1a;
  --secondary: #3c3c3c;
  --piratechs: #2b4261;
  --softBlack2: #636363;
  --piratechsDark: #10141d;
  --main: rgb(0, 216, 255);
  --authGlass: rgba(0, 0, 0, 0.05);
  --mainTeal: rgba(32, 143, 163, 1);
  --blackGlass: rgba(0, 0, 0, 0.75);
  --silverGlass: rgba(0, 0, 0, 0.35);
  --mainGlass: rgba(255, 28, 11, 0.75);
  --softWhite: rgba(255, 255, 255, 0.87);
  --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
}

header {
  top: 0;
  width: 100%;
  grid-gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 1.2em;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: var(--blackGlass);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  font-weight: 700;
  font-size: 1.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo.reactLogo {
  -webkit-animation: logo-spin infinite 20s linear;
          animation: logo-spin infinite 20s linear;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--containerWidth);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner.pageInner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column.rightColumn {
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main {
  width: 100%;
  padding: 5em;
  margin: 0 auto;
}

h1 {
  font-size: 3.5em;
  font-weight: 500;
}

h2 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

footer {
  left: 50%;
  bottom: 0;
  z-index: 1;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  width: 100.1vw;
  font-size: 13px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 300 !important;
  background: var(--blackGlass);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .hoverLink::before {
  bottom: -5px;
  height: 1px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .vertical-sep, footer i {
  color: var(--main);
}

footer .vertical-sep.fas.fa-undo, footer i.fas.fa-undo {
  font-size: 0.8em;
  margin-bottom: 0em;
}

@-webkit-keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hoverLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink::before {
  content: "" !important;
  background: var(--main);
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  bottom: -10px;
  right: 0;
  z-index: 0;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/*# sourceMappingURL=global.css.map */