*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --containerWidth: 90%;
  --html: #f16529;
  --css: #2862e9;
  --js: #f7df1e;
  --php: #7377ad;
  --node: #73ab60;
  --sass: #f783ac;
  --sql: #f783ac;
  --mongo: #00684a;
  --node: #3eb112;
  --git: #e94e31;
  --swift: #f4993a;
  --discord: #7289DA;
  --skeleton: #4c4c4c;
  --bg: #1f1f1f;
  --posterH: 250px;
  --posterW: 165px;
  --steel: #7a7a7a;
  --react: #0fccce;
  --silver: #f2f2f2;
  --ground: #00b900;
  --gameBlue: #00c2ff;
  --softBlack: #1a1a1a;
  --secondary: #3c3c3c;
  --piratechs: #2b4261;
  --softBlack2: #636363;
  --piratechsDark: #10141d;
  --main: rgb(0, 216, 255);
  --authGlass: rgba(0, 0, 0, 0.05);
  --mainTeal: rgba(32, 143, 163, 1);
  --blackGlass: rgba(0, 0, 0, 0.75);
  --silverGlass: rgba(0, 0, 0, 0.35);
  --mainGlass: rgba(255, 28, 11, 0.75);
  --dangerColor: rgba(255, 28, 11, 0.75);
  --softWhite: rgba(255, 255, 255, 0.87);
  --gameBlueSoft: rgba(0, 194, 255, 0.75);
  --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html.Game,
body.Game {
  overflow-y: hidden !important;
}

html.dark,
body.dark {
  color: white;
}

html.black input,
body.black input {
  border: solid 2px var(--gameBlue);
}

html.light,
body.light {
  color: black;
}

html.light .emphasis.white,
body.light .emphasis.white {
  color: black !important;
}

header {
  top: 0;
  width: 100%;
  height: 100px;
  grid-gap: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: var(--blackGlass);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  font-size: 1.3em;
  font-weight: 700;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo.reactLogo {
  top: 0;
  left: 0;
  opacity: 0.1;
  position: absolute;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: logo-spin infinite 20s linear;
          animation: logo-spin infinite 20s linear;
  -webkit-filter: saturate(0) invert(1) brightness(2);
          filter: saturate(0) invert(1) brightness(2);
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2em;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-animation: fadeIn var(--transition);
          animation: fadeIn var(--transition);
}

header .menu.hide {
  display: none;
}

header .menu.mobileNav {
  left: 0;
  top: 100px;
  width: 100%;
  grid-gap: 0;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--blackGlass);
  border-top: 1px solid white;
  -webkit-animation: fadeIn var(--transition);
          animation: fadeIn var(--transition);
}

header .menu.mobileNav li {
  width: 100%;
  padding: 1em 0;
  border-bottom: 1px solid white;
}

header .menu.mobileNav li a {
  margin: 0 auto;
  max-width: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menuToggle {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: .3em;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menuToggle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#menuToggle span:first-child:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2):nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle span:last-child {
  margin-bottom: 0px;
}

#menuToggle:hover span {
  background: var(--main);
}

#openMenuToggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

#openMenuToggler span {
  top: .08em;
  width: 20px;
  height: 3px;
  display: block;
  border-radius: 0px;
  margin-bottom: 4px;
  position: relative;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}

#openMenuToggler.clicked {
  top: 3px;
  position: relative;
}

#openMenuToggler.clicked span {
  top: -3px;
  opacity: 1;
  margin-bottom: 5px;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

#openMenuToggler.clicked span:nth-last-child(2) {
  -webkit-transform: rotate(45deg) translate(-2px, -4px);
          transform: rotate(45deg) translate(-2px, -4px);
}

#openMenuToggler.clicked span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.blur {
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.subBanner *:nth-child(2) {
  font-weight: 400;
  text-align: right;
}

.profileText span:not(.emphasis) {
  font-weight: 500;
}

.skeleton {
  width: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.skeleton .skeletonItem {
  position: relative;
  -webkit-filter: blur(1px) brightness(1.35);
          filter: blur(1px) brightness(1.35);
  -webkit-animation: skeleton 1.5s var(--transition) infinite alternate;
          animation: skeleton 1.5s var(--transition) infinite alternate;
}

.skeleton .skeletonItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skeleton * {
  width: 100%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.skeleton * * {
  position: relative;
  -webkit-filter: blur(1px) brightness(1.35);
          filter: blur(1px) brightness(1.35);
  background: var(--skeleton) !important;
  -webkit-animation: skeleton 1.5s var(--transition) infinite alternate;
          animation: skeleton 1.5s var(--transition) infinite alternate;
}

.skeleton * *::before {
  content: 'Loading...';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--skeleton) !important;
}

@-webkit-keyframes skeleton {
  0% {
    -webkit-filter: blur(1px) brightness(1.35);
            filter: blur(1px) brightness(1.35);
  }
  100% {
    -webkit-filter: blur(0px) brightness(1);
            filter: blur(0px) brightness(1);
  }
}

@keyframes skeleton {
  0% {
    -webkit-filter: blur(1px) brightness(1.35);
            filter: blur(1px) brightness(1.35);
  }
  100% {
    -webkit-filter: blur(0px) brightness(1);
            filter: blur(0px) brightness(1);
  }
}

section {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  margin: 0 auto;
  padding: 1em 0;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section article {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: var(--containerWidth);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inner.stretch {
  width: 100%;
}

.inner.pageInner {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column.rightColumn {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.overflow.items {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: overlay;
  padding-right: 10px;
}

.overflow.items::-webkit-scrollbar {
  position: relative;
  border-radius: 4px;
  width: 4px !important;
  background: var(--blackGlass) !important;
}

.overflow.items::-webkit-scrollbar-thumb {
  background: var(--softWhite);
  border-radius: 4px;
}

.overflow article {
  overflow-x: hidden;
  overflow-y: overlay;
  padding-right: 10px;
  max-height: 110px;
}

.overflow article::-webkit-scrollbar {
  position: relative;
  border-radius: 4px;
  width: 4px !important;
  background: black !important;
}

.overflow article::-webkit-scrollbar-thumb {
  background: var(--gameBlue);
  border-radius: 4px;
}

main {
  width: 100%;
  height: auto;
  padding: 3em 0;
  margin: 0 auto;
}

h1 {
  font-size: 3.5em;
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.end {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.flex:not(.start) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.stretch {
  width: 100%;
}

.flex:not(.row) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex *:not(.contain) {
  width: 100%;
}

.grid {
  gap: 1%;
  padding: 0;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[3];
      grid-template-columns: repeat(3, minmax(30%, 1fr));
}

.grid div {
  margin: 0px;
  height: 100%;
}

form {
  height: 100% !important;
}

input {
  border: 0;
  outline: none;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px 25px;
  font-family: "Montserrat";
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  color: var(--softWhite) !important;
}

input::-webkit-input-placeholder {
  color: var(--softWhite);
}

input:-ms-input-placeholder {
  color: var(--softWhite);
}

input::-ms-input-placeholder {
  color: var(--softWhite);
}

input::placeholder {
  color: var(--softWhite);
}

input[type="color"] {
  border: 0;
  padding: 1em;
  outline: none;
  min-height: 60px;
  border-radius: 4px;
  position: relative;
}

input[type="color"]::before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: attr(data-color);
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 500;
  height: 28px;
  width: 96.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="color"].dark::before {
  color: white;
}

input[type="color"].light::before {
  color: black;
}

button, input[type="submit"] {
  border: 0;
  padding: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'Montserrat';
  color: white !important;
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

button.rowButton, input[type="submit"].rowButton {
  margin-top: -17px;
}

button:hover:not(.iconButton), input[type="submit"]:hover:not(.iconButton) {
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-box-shadow: 0 0 8px 0px black;
          box-shadow: 0 0 8px 0px black;
}

button:focus, input[type="submit"]:focus {
  -webkit-filter: invert(1) brightness(1.5);
          filter: invert(1) brightness(1.5);
}

button:active, input[type="submit"]:active {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: inset 0 0 8px 0px black;
          box-shadow: inset 0 0 8px 0px black;
}

[type="submit"][name="authFormBack"] {
  width: 49% !important;
  margin-left: auto;
  margin-top: -26px;
}

[type="submit"][name="authFormSubmit"].half {
  width: 49% !important;
  margin-right: auto;
  margin-bottom: -26px;
}

[type="submit"][name="authFormSave"] {
  width: 49% !important;
  margin-left: auto;
  margin-top: -26px;
}

.textOverflow {
  max-width: 60%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.alert {
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  position: fixed;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-box-shadow: 0 0 8px 0px black;
          box-shadow: 0 0 8px 0px black;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.alert.slim {
  height: 120px;
}

.alert button {
  position: absolute;
  -webkit-filter: invert(1);
          filter: invert(1);
  right: 15px;
  top: 15px;
}

.alert h3, .alert p {
  padding: 5px 0;
  text-align: center;
}

.buttonInnerLabel {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  position: relative;
  font-size: 0.95em;
  top: -1px;
}

.buttonLabel {
  width: 100% !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.buttonLabel * {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

.iconButton {
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-weight: 700 !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 0.85em;
  min-height: 35px;
  width: 100%;
}

.iconButton:hover {
  background: white !important;
  color: black !important;
}

.lists {
  grid-gap: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  overflow: visible;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: calc(var(--containerWidth));
}

.lists .buttonLabel {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.lists .list {
  width: 100%;
  position: relative;
  border-radius: 4px;
  background: var(--gameBlueSoft) !important;
  /* Neumorphic Inner shadow */
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  /* Neumorphic Outer shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.lists .list h2 {
  color: white;
}

.lists .list .items {
  gap: 1em;
  display: -ms-grid;
  display: grid;
  width: 100% !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.lists .list .items.oneList {
  padding: 2em 0 !important;
  -ms-grid-columns: auto auto auto auto !important;
      grid-template-columns: auto auto auto auto !important;
}

.lists .list .items.twoList {
  padding: 1em 0 !important;
  -ms-grid-columns: auto auto !important;
      grid-template-columns: auto auto !important;
}

.lists .list .items.bigList {
  max-width: 100% !important;
  -ms-grid-columns: auto auto !important;
      grid-template-columns: auto auto !important;
}

.lists .list .items .item {
  cursor: -webkit-grab;
  cursor: grab;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  min-height: 35px;
  font-size: 0.85em;
  position: relative;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--blackGlass);
  -webkit-transition: var(--transition);
  transition: var(--transition);
  /* Neumorphic Inner shadow */
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  /* Neumorphic Outer shadow */
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.05);
}

.lists .list .items .item span {
  width: 100%;
  max-height: 100%;
}

.lists .list .items .item .itemButtons {
  display: -ms-grid;
  display: grid;
  position: relative;
  max-width: 125px !important;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.lists .list .items .item .itemButtons button {
  padding: 0;
  max-width: 100%;
  position: relative;
  background: white;
  width: 25px !important;
  max-height: 9px !important;
}

.lists .list .items .item .itemButtons button i {
  color: black;
  pointer-events: none;
}

.lists .list .items .item .itemButtons button:hover i {
  color: var(--gameBlue);
}

.lists .list .items .item:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.lists .list .items .item:hover .itemOrder .itemIndex {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.lists .list .items .item .itemOrder {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em 0;
  max-height: 100%;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  color: var(--gameBlue);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.lists .list .items .item .itemOrder .itemIndex {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.lists .list .items .item .itemName {
  font-weight: 500 !important;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.lists .list .items .item.complete {
  -webkit-filter: invert(1);
          filter: invert(1);
  background: var(--authGlass);
}

.lists .list .items .item.complete .itemOrder {
  background: transparent;
  color: white;
}

.lists .list .items .item.complete .itemName {
  min-width: 215px !important;
  text-decoration-thickness: 0;
  text-decoration: line-through;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.gameStats {
  min-width: 20%;
}

.gameStats h2 {
  font-size: 1.35em;
}

.gameStats h2 .label {
  min-width: 110px;
  font-size: 0.85em;
}

.gameStats h2 i {
  font-size: 0.75em;
}

.gameStateAction {
  position: relative;
  z-index: 1;
}

.gameAnimation {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gameAnimation lottie-player {
  z-index: 0;
  bottom: -143px;
  position: relative;
  width: 100% !important;
  height: 100% !important;
  -webkit-transform: scale(3.5, 0.3);
          transform: scale(3.5, 0.3);
}

.gameAnimation lottie-player#cloudsAnimation {
  top: 0;
  opacity: 0.35;
  position: absolute;
  -webkit-transform: scale(3, 1);
          transform: scale(3, 1);
  width: 100% !important;
}

.gameAnimation lottie-player.windAnim {
  -webkit-transform: scale(0.35) rotateY(180deg) !important;
          transform: scale(0.35) rotateY(180deg) !important;
  position: absolute;
  width: 100% !important;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.leaderBoard {
  padding: 10px;
  color: white;
  border-radius: 4px;
  background: var(--blackGlass);
}

.leaderBoard .userScore {
  grid-gap: 1em;
}

.leaderBoard .userScore .score {
  text-align: right;
}

section .game {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  max-height: 413px;
  font-size: 0.75em;
  position: relative;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px black;
}

section .game .leaderBoard {
  max-width: 270px;
  margin-top: 75px;
}

section .game .fa-coins {
  color: var(--js) !important;
}

section .game .fa-save {
  color: #00b900;
}

section .game .intro {
  font-size: 35px;
  color: transparent;
  pointer-events: none;
  -webkit-animation: intro 2000ms ease-in-out;
          animation: intro 2000ms ease-in-out;
}

section .game .controls button:not(.moveButton), section .game .playerText button:not(.moveButton) {
  font-size: 0.95em !important;
}

section .game .gameMessage {
  font-size: 25px;
  pointer-events: none;
  -webkit-animation: fadeIn 500ms ease-in-out;
          animation: fadeIn 500ms ease-in-out;
}

section .game .playerSprite {
  /* transform: scale(1); */
  position: absolute;
  left: -75px;
  top: -150px;
}

section .game .playerSprite .windAnim {
  -webkit-transform: scale(0.35) rotateY(180deg) !important;
          transform: scale(0.35) rotateY(180deg) !important;
  position: absolute;
  width: 100% !important;
  -webkit-filter: invert(1);
          filter: invert(1);
  max-height: 100%;
}

section .game .coinsAnimation {
  -webkit-transform: scale(0.4, 0.6);
          transform: scale(0.4, 0.6);
  position: absolute;
  bottom: -42px;
  left: -45px;
}

section .game .gameControls {
  background: var(--blackGlass);
  border-radius: 3px;
  font-size: 0.90em;
  position: absolute;
  padding: 0.6em 2em;
  color: white;
  grid-gap: 1.5em;
  min-width: 82%;
  max-width: 82%;
  left: 25px;
  top: 80px;
}

section .game .gameControls #jumpSpeed {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section .game .gameControls i {
  color: var(--gameBlue);
}

section .game .dmg {
  color: transparent;
  -webkit-animation: damage 1500ms ease-in-out;
          animation: damage 1500ms ease-in-out;
}

section .game .topRow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

section .game .bottomRow {
  position: relative;
  top: -27px;
}

section .game #playerTimer .timer {
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

section .game .moveButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 900;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--gameBlue) !important;
}

section .game .controls {
  position: absolute;
  right: 25px;
  top: 25px;
}

section .game .controls .timer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  grid-gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .game .controls i {
  color: var(--gameBlue);
}

section .game .controls button {
  height: 20px;
  padding: 3px 20px;
}

section .game input[type=range] {
  min-width: 75px;
  -webkit-appearance: none;
  background: var(--gameBlue) !important;
  max-height: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin-left: .5em;
  margin-top: .1em;
  color: white;
  width: 100%;
}

section .game .dmgText {
  min-width: 65px;
}

section .game input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  background: #fff;
  cursor: pointer;
  margin-top: -2.9px;
  -webkit-box-shadow: 1px 1px 1px #fff, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #fff, 0px 0px 1px #0d0d0d;
}

section .game #startGame {
  font-size: 1.2em;
}

section .game .playerText {
  z-index: 1;
  pointer-events: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

section .game .playerText button i {
  color: var(--gameBlue);
}

section .game .healthText i.fa-heartbeat {
  font-size: 2em;
  color: red !important;
}

section .game .player {
  z-index: 1;
  pointer-events: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: 4px;
  position: absolute;
  text-align: center;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

section .game .player.right {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

section .game .player.left {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

section .game .finish {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: absolute;
}

section .game .enemy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

section .game .enemy.moving {
  border-radius: 100px;
  background: var(--blackGlass) !important;
  -webkit-box-shadow: inset 0 0 3px 1px #333333;
          box-shadow: inset 0 0 3px 1px #333333;
}

section .game .enemy.stopped {
  opacity: 0;
  pointer-events: none;
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

section .game .health {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border: solid 2px black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  position: absolute;
  min-width: 150px;
  grid-gap: 0.5em;
  max-width: 82%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 25px;
  top: 25px;
}

section .game .ground {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  bottom: -0.2px;
  width: 100%;
  left: 0;
}

section .game .ground .groundText {
  position: absolute;
  right: 25px;
  top: 12px;
}

section .game .ground .groundText .emphasis {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  color: var(--main);
}

.emphasis {
  color: var(--gameBlue);
  margin: 0 0.3em;
  font-size: 1.1em;
  font-weight: 700;
  font-style: italic;
}

.emphasis.white {
  color: white !important;
}

.sectionImage {
  width: 100%;
  height: auto;
  margin: 1em 0;
  max-height: 350px;
}

@-webkit-keyframes enemy {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes enemy {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes intro {
  0% {
    color: white;
  }
  100% {
    color: transparent;
    font-size: 15px;
  }
}

@keyframes intro {
  0% {
    color: white;
  }
  100% {
    color: transparent;
    font-size: 15px;
  }
}

@-webkit-keyframes damage {
  0% {
    color: var(--dangerColor);
  }
  33% {
    color: var(--dangerColor);
    font-weight: 300;
    font-size: 0.85em;
  }
  66% {
    color: var(--dangerColor);
    font-weight: 300;
    font-size: 0.75em;
    opacity: 0.5;
  }
  100% {
    color: transparent;
    font-weight: 300;
    font-size: 0.65em;
    opacity: 0;
  }
}

@keyframes damage {
  0% {
    color: var(--dangerColor);
  }
  33% {
    color: var(--dangerColor);
    font-weight: 300;
    font-size: 0.85em;
  }
  66% {
    color: var(--dangerColor);
    font-weight: 300;
    font-size: 0.75em;
    opacity: 0.5;
  }
  100% {
    color: transparent;
    font-weight: 300;
    font-size: 0.65em;
    opacity: 0;
  }
}

footer {
  left: 50%;
  bottom: 0;
  z-index: 1;
  height: 40px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 10px;
  font-size: 13px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white !important;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 400 !important;
  background: var(--blackGlass);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .hoverLink::before {
  bottom: -5px;
  height: 1px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .vertical-sep, footer i {
  color: var(--main);
}

footer .vertical-sep.fas.fa-undo, footer i.fas.fa-undo {
  font-size: 0.8em;
  margin-bottom: 0em;
}

footer .inner .right img, footer .inner .right svg {
  fill: var(--main);
}

footer .inner .right img path, footer .inner .right svg path {
  fill: var(--main);
}

footer .inner .right .piratechs {
  max-height: 15px;
  fill: var(--main);
  margin: 0 -7px 1px 0;
}

footer .inner .right .piratechs path {
  fill: var(--main);
}

footer .inner .right .piratechs img, footer .inner .right .piratechs svg {
  fill: var(--main);
}

footer .inner .right .piratechs img path, footer .inner .right .piratechs svg path {
  fill: var(--main);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}

@-webkit-keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes logo-spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hoverLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink::before {
  content: "" !important;
  background: var(--main);
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  bottom: -10px;
  right: 0;
  z-index: 0;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.hoverLink:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#scroll-text {
  width: 235%;
  text-overflow: clip;
  white-space: nowrap;
  /* animation properties */
  transform: translateX(100%);
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  animation: my-animation 20s linear infinite;
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  /* for Firefox */
  /* for Chrome */
}

@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media (max-width: 697px) {
  header {
    height: 150px;
  }
  body {
    font-size: 28px;
  }
  main {
    padding: 1em 0;
  }
  #openMenuToggler span {
    height: 5px;
  }
  button, input[type="submit"] {
    font-size: 0.85em;
  }
}

/* Show Scores */
#scoresHover {
  position: absolute;
  top: 45px;
  left: 0;
  opacity: 0;
  width: 450%;
  border-radius: 10px;
  padding: 2em;
  background: var(--blackGlass);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  text-align: left;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 1em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.showScoresLink:hover #scoresHover {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

.fadeInOut {
  -webkit-animation: fadeInOut 3500ms ease-in-out 1;
          animation: fadeInOut 3500ms ease-in-out 1;
}

@-webkit-keyframes fadeInOut {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
  20% {
    opacity: 0;
    -webkit-transform: scale(1, 0.4);
            transform: scale(1, 0.4);
  }
  30% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
    opacity: 0;
  }
}

.attention {
  position: relative;
  border: solid var(--dangerColor) 3px;
  -webkit-box-shadow: 0px 0px 4px 1px var(--dangerColor);
          box-shadow: 0px 0px 4px 1px var(--dangerColor);
  animation: shake 1s ease-in-out infinite alternate-reverse;
}

@-webkit-keyframes shake {
  0% {
    left: 0px;
    top: 0px;
  }
  33% {
    left: -1px;
    top: -1px;
  }
  66% {
    left: 1px;
    top: 1px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

@keyframes shake {
  0% {
    left: 0px;
    top: 0px;
  }
  33% {
    left: -1px;
    top: -1px;
  }
  66% {
    left: 1px;
    top: 1px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
/*# sourceMappingURL=global.css.map */