*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --containerWidth: 90%;
    // @media (max-width: 992px) {
    //     --containerWidth: 95%;
    // }

    --html: #f16529;
    --css: #2862e9;
    --js: #f7df1e;
    --php: #7377ad;
    --node: #73ab60;
    --sass: #f783ac;
    --sql: #f783ac;
    --mongo: #00684a;
    --node: #3eb112;
    --git: #e94e31;
    --swift: #f4993a;
    --discord: #7289DA;
    --skeleton: #4c4c4c;
    --bg: #1f1f1f;
    --posterH: 250px;
    --posterW: 165px;
    --steel: #7a7a7a;
    --react: #0fccce;
    --silver: #f2f2f2;
    --softBlack: #1a1a1a;
    --secondary: #3c3c3c;
    --piratechs: #2b4261;
    --softBlack2: #636363;
    --piratechsDark: #10141d;
    --main: rgb(0, 216, 255);
    --authGlass: rgba(0, 0, 0, 0.05);
    --mainTeal: rgba(32, 143, 163, 1);
    --blackGlass: rgba(0, 0, 0, 0.75);
    --silverGlass: rgba(0, 0, 0, 0.35);
    --mainGlass: rgba(255, 28, 11, 0.75);
    --softWhite: rgba(255, 255, 255, 0.87);
    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1) !important;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    overflow-x: hidden;
    background: var(--mainTeal);
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body { letter-spacing: .5px; }

header {
    top: 0;
    width: 100%;
    height: 100px;
    grid-gap: 2em;
    display: flex;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.2em;
    position: sticky;
    align-items: center;
    backdrop-filter: blur(8px);
    background: var(--blackGlass);
    justify-content: space-between;
    .logo {
        display: flex;
        grid-gap: 1em;
        font-weight: 700;
        font-size: 1.3em;
        align-items: center;
        justify-content: center;
        &.reactLogo {
            animation: logo-spin infinite 20s linear;
        }
    }
    .menu {
        display: flex;
        grid-gap: 2em;
        list-style: none;
        align-items: center;
        justify-content: flex-end;
        animation: fadeIn var(--transition);
        &.hide {
            display: none;
        }
        &.mobileNav {
            left: 0;
            top: 100px;
            width: 100%;
            grid-gap: 0;
            position: absolute;
            flex-direction: column;
            background: var(--blackGlass);
            border-top: 1px solid white;
            animation: fadeIn var(--transition);
            li {
                width: 100%;
                padding: 1em 0;
                border-bottom: 1px solid white;
                a {
                    margin: 0 auto;
                    max-width: 250px;
                    justify-content: center;
                }
            }
        }
    }
}
  
#menuToggle {
    margin: 0px;
    display: flex;
    grid-gap: .3em;
    cursor: pointer;
    align-items: center;
    transition: var(--transition);
    justify-content: space-between;
    span {
        display: flex;
        background: white;
        transition: var(--transition);
        &:first-child {
            &:first-child {
                transform-origin: 0% 0%;
            }
        }
        &:nth-last-child(2) {
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
    &:hover {
        span {
            background: var(--main);
        }
    }
}

#openMenuToggler {
    display: flex;
    cursor: pointer;
    align-items: center;
    transform: scale(.8);
    flex-direction: column;
    justify-content: center;
    transition: var(--transition);
    span {
        top: .08em;
        width: 20px;
        height: 3px;
        display: block;
        border-radius: 0px;
        margin-bottom: 4px;
        position: relative;
        transform-origin: 4px 0px;
        transition: transform var(--transition);
    }

    &.clicked {
        top: 3px;
        position: relative;
        span {
            top: -3px;
            opacity: 1;
            margin-bottom: 5px;
            transform-origin: 4px 0px;
            transition: transform var(--transition);
            transform: rotate(-45deg) translate(0px, 0px);
            &:nth-last-child(2) {
                transform: rotate(45deg) translate(-2px, -4px);
            }
            &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
        }
    }
}

.blur {
    filter: blur(3px);
}

.subBanner {
    *:nth-child(2) {
        font-weight: 400;
        text-align: right;
    }
}

.skeleton {
    width: 100%;
    transition: var(--transition);
    .skeletonItem {
        position: relative;
        filter: blur(1px) brightness(1.35);
        animation: skeleton 1.5s var(--transition) infinite alternate;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;    
        }
    }
    * {
        width: 100%;
        transition: var(--transition);
       * {
        position: relative;
        filter: blur(1px) brightness(1.35);
        background: var(--skeleton) !important;
        animation: skeleton 1.5s var(--transition) infinite alternate;
        &::before {
            content: 'Loading...';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--skeleton) !important;
        }
       }
    }
}

@keyframes skeleton {
    0% {
        filter: blur(1px) brightness(1.35);
    }
    100% {
        filter: blur(0px) brightness(1);
    }
}

 section {
     width: 100%;
     height: auto;
     display: flex;
     grid-gap: 1em;
     margin: 0 auto;
     padding: 1em 0;
     overflow: hidden;
     align-items: center;
     justify-content: space-between;

     article {
         width: 100%;
         height: auto;
         display: flex;
         grid-gap: 1em;
         flex-direction: column;
     }
 }

.inner {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: var(--containerWidth);
    justify-content: space-between;
    &.pageInner {
        width: 100%;
        flex-direction: column;
    }
    // section {
    //     width: 100%;
    //     height: auto;
    //     display: flex;
    //     grid-gap: 1em;
    //     margin: 0 auto;
    //     padding: 1em 0;
    //     overflow: hidden;
    //     align-items: center;
    //     justify-content: space-between;
    //     article {
    //         width: 100%;
    //         height: auto;
    //         display: flex;
    //         grid-gap: 1em;
    //         flex-direction: column;
    //     }
    // }
}

.column {
    display: flex;
    flex-direction: column;
    &.rightColumn {
        text-align: right;
        justify-content: flex-end;
    }
}

main {
    width: 100%;
    height: auto;
    padding: 3em 0;
    margin: 0 auto;
}

h1 {
    font-size: 3.5em;
    font-weight: 500;
}

h2 {
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    height: auto;
    display: flex;
    grid-gap: 1em;
    align-items: center;
    &:not(.start) {
        justify-content: center;
    }
    &.stretch {
        width: 100%;
    }
    &:not(.row) {
        flex-direction: column;
    }
    * {
        &:not(.contain) {
            width: 100%;
        }
    }
}

.grid {
    gap: 1%;
    padding: 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    div {
        margin: 0px;
        height: 100%;
    }
}

form {
    height: 100% !important;
}

input {
    border: 0;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    font-family: 'Montserrat';
    background: var(--blackGlass);
    transition: var(--transition);
    &::placeholder {
        color: var(--softWhite);
    }
}

button, input[type="submit"] {
    border: 0;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Montserrat';
    color: white !important;
    background: var(--blackGlass);
    transition: var(--transition);
    &.rowButton {
        margin-top: -17px;
    }
    &:hover { // Mouse Over
        filter: invert(1);
        box-shadow: 0 0 8px 0px black;
    }
    &:focus { // Active or Was Pushed
        filter: invert(1) brightness(1.5);
    }
    &:active { // On Click
        transform: scale(1.01);
        box-shadow: inset 0 0 8px 0px black;
    }
}

[type="submit"] {
    &[name="authFormBack"] {
        width: 49% !important;
        margin-left: auto;
        margin-top: -26px;
    }
    &[name="authFormSubmit"].half {
        width: 49% !important;
        margin-right: auto;
        margin-bottom: -26px;
    }
    &[name="authFormSave"] {
        width: 49% !important;
        margin-left: auto;
        margin-top: -26px;
    }
}

.alert {
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    display: flex;
    padding: 40px;
    position: fixed;
    border-radius: 4px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(5px);
    background: var(--blackGlass);
    transition: var(--transition);
    box-shadow: 0 0 8px 0px black;
    transform: translate(-50%, -50%);
    &.slim {
        height: 120px;
    }
    button {
        position: absolute;
        filter: invert(1);
        right: 15px;
        top: 15px;
    }
    h3, p {
        padding: 5px 0;
        text-align: center;
    }
}

section {
    .game {
        width: 100%;
        display: flex;
        height: 415px;
        overflow: hidden;
        font-weight: 500;
        max-height: 413px;
        font-size: 0.75em;
        position: relative;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        border: solid 2px black;
    
        .gameControls {
            background: var(--blackGlass);
            border-radius: 3px;
            position: absolute;
            padding: 0.5em 2em;
            min-width: 85%;
            max-width: 85%;
            grid-gap: 1em;
            left: 25px;
            top: 25px;

            #jumpSpeed {
                transform: rotateY(180deg);
            }
        }

        .controls {
            position: absolute;
            right: 25px;
            top: 25px;
            button {
                height: 20px;
                padding: 3px 20px;
            }
        }

        input[type=range] {
            -webkit-appearance: none;
            background: #00c2ff !important;
            max-height: 1px !important;
            height: 1px !important;
            padding: 0 !important;
            margin-left: .5em;
            margin-top: .1em;
            color: white;
            width: 100%;
        }
        
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 16px;
            width: 16px;
            border-radius: 10px;
            transform: scale(0.8);
            background: #fff;
            cursor: pointer;
            margin-top: -2.9px;
            box-shadow: 1px 1px 1px #fff, 0px 0px 1px #0d0d0d;
        }
    
        .player {
            transition: var(--transition);
            position: absolute;
        }
    
        .enemy {
            transition: var(--transition);
            position: absolute;
        }
    
        .health {
            transition: var(--transition);
            justify-content: center;
            align-items: center;
            border-radius: 3px;
            position: absolute;
            min-width: 150px;
            grid-gap: 0.5em;
            max-width: 85%;
            display: flex;
            left: 25px;
            top: 75px;
        }
    
        .ground {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            position: absolute;
            bottom: -0.2px;
            width: 100%;
            left: 0;
        }
    }
}

@keyframes enemy {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

footer {
    left: 50%;
    bottom: 0;
    z-index: 1;
    height: 40px;
    width: 100vw;
    display: flex;
    grid-gap: 10px;
    font-size: 13px;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    color: white !important;
    backdrop-filter: blur(8px);
    transform: translateX(-50%);
    font-weight: 400 !important;
    background: var(--blackGlass);
    justify-content: space-between;

    .hoverLink {
        &::before {
            bottom: -5px;
            height: 1px;
        }
    }

    div {
        display: flex;
        grid-gap: 1em;
        align-items: center;
    }

    .vertical-sep, i {
        color: var(--main);
        &.fas.fa-undo {
            font-size: 0.8em;
            margin-bottom: 0em;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        pointer-events: none;
    }
    100% {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes logo-spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hoverLink {
    display: flex;
    grid-gap: 0.3em;
    align-items: center;
    position: relative;
    transition: var(--transition);
    &::before {
        content: "" !important;
        background: var(--main);
        position: absolute;
        width: 100%;
        height: 2px;
        display: block;
        bottom: -10px;
        right: 0;
        z-index: 0;
        transform-origin: 0% 100%;
        transform: scale(0, 1);
        transition: var(--transition);
    }
    &:hover {
        transition: var(--transition);
        &::before {
            transform: scale(1, 1);
            transition: 500ms ease-in-out;
        }
    }
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

#scroll-text {

    width: 200%;
    // overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    /* animation properties */
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    animation: my-animation 10s linear infinite;
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;

    /* for Firefox */
    @-moz-keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
        }

        to {
            -moz-transform: translateX(-100%);
        }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation {
        from {
            -webkit-transform: translateX(100%);
        }

        to {
            -webkit-transform: translateX(-100%);
        }
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@media (max-width: 697px) {
    header {
        height: 150px;
    }
    body {
        font-size: 28px;
    }
    main {
        padding: 1em 0;
    }
    #openMenuToggler span {
        height: 5px;
    }
    button, input[type="submit"] {
        font-size: 0.85em;
    }
}